@import './mixin';

@include tablet {
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

@include mobile {
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}

* {
  box-sizing: border-box;
}

input:focus, select:focus, option:focus, textarea:focus, button:focus {
  outline: none;
}

input, select, potion, textarea, button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

button {
  cursor: pointer;
}

input {
  font-size: 16px;
  color: $fontMainColor;
  
  &::placeholder {
    color: $placeholderFontColor;
  }

  &.input-default {
    height: 50px;
    border: 1px solid $inputLine;
    border-radius: 10px;

    &:focus {
      border-color: $mainColor;
    }
  }
}
